.navbar {
    background: rgba(97,106,142,0.84);
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.logo {
    font-family: Gill Sans Nova Cond, monospace;
    font-style: normal;
    font-size: x-large;
    color: white

}
.logo-header-wrapper{
    position: absolute;
    left: 50%;
}
.logo-header {
    align-self: center;
    transform: translate(-50%,0);
}
.logo:hover{
    color: white;
}
.middle-picture{
    align-self: center;
}

.middle-text {
    position:absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%,0);
    font-size: xxx-large;
}
.titulka {
    height:100vh;
    width:100%;
    object-fit: cover;
}
.container-text{
    position: relative;
    text-align:center;
    display: grid;
    height: 100%;
}
.adresa{
    font-family: Arial, monospace;
}
.nav-link:hover{
    color: silver;
}
.carousel-item {
    align-self: center;
    text-align: center;
    align-items: center;
    left: 50%;
    height: 150px;
    transform: translate(-50%,0%);
}
.logo-carousel {
    padding-top: 10px;
    height: 130px;
    width: auto;
    object-fit: cover;
    margin: auto;
}
.carousel {
    background-color: silver;
    height: 150px;
}
.btn-primary{
    background-color: cadetblue!important;
    border: cadetblue!important;
}
