.navbar {
    background: rgba(97,106,142,0.84);
    width: 100%;
    overflow: visible;
}
.logo {
    font-family: "Palatino Linotype", monospace;
    font-style: normal;
    font-size: x-large;
    color: white;
}
.logo-header-wrapper{
    position: absolute;
    left: 50%;
}
.logo-header {
    align-self: center;
    transform: translate(-50%,0);
}
.logo:hover{
    color: white;
}
.middle-picture{
    align-self: center;
}

.middle-text {
    position:absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%,0);
    font-size: xxx-large;
}
.titulka {
    height:100vh;
    width:100%;
    object-fit: cover;
}
.container-text{
    position: relative;
    text-align:center;
    display: grid;
    height: 100%;
}
.adresa{
    font-family: Arial, monospace;
}
.nav-link{
    !important color: #202020;

}
.nav-link:hover{
    color: silver;
    text-decoration: none;
}
.carousel-item {
    align-self: center;
    text-align: center;
    align-items: center;
    left: 50%;
    height: 150px;
    transform: translate(-50%,0%);
}
.logo-carousel {
    padding-top: 10px;
    height: 130px;
    width: auto;
    object-fit: cover;
    margin: auto;
}
.carousel {
    background-color: silver;
    height: 150px;
}
.elegant-text {
    font-family: "Palatino Linotype", monospace;
    font-style: italic;
}

.button-style{
    background-color: cadetblue!important;
    border: cadetblue!important;
}

.elegant-button{
    background-color: rgba(26,29,40,0.85)!important;
    border: rgba(26,29,40,0.85)!important;
    color: white;
    font-size: medium;
    font-family: "Arial Nova Light", monospace;
    border-style: none;
    border-radius: 0 !important;
}
.elegant-button:hover{
    color: gray;
}
.card-img-top{
    max-height: 256px;
    width: fit-content;
    align-self: center;
}
.price{
    font-size: large;
    color: rgba(66,75,102,0.85);
    font-style: italic;
}
.card-title {
    font-style: italic;
}
.example-image-decoration {
    border-style: ridge;
}
.login-button{
    background-color: rgba(66,75,102,0.85);
    color: white;
    border-color: gray;
}
.login-button:hover{
    border-color: white;
    background-color: cadetblue;
}
.login-button.show{
    background-color: black;

}

.quantitySetter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnQuantity {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    font-weight: 900;
    color: #202020;
}
.form-check-input:checked {
    background-color: cadetblue;
}
.cart-image{


    height: 150px;
}
.cart-image-back{
    width: 60px; height: 150px; overflow: hidden;
}
.product-page-img{
    max-height: 550px;
}
